<a href="https://colab.research.google.com/github/chabpre/dataprovisual/blob/main/Quiz4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [2]:
%%bigquery --project temporal-nebula-338801
SELECT  start_station_name, AVG(duration_minutes) as avg_duration
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name
ORDER BY avg_duration

             start_station_name  avg_duration
0                          Shop      6.800000
1    Mobile Station @ Unplugged      9.750000
2                   Main Office     11.810289
3          Dean Keeton & Whitis     13.494125
4                  22nd & Pearl     13.893964
..                          ...           ...
188                      Stolen    105.000000
189       cesar Chavez/Congress    114.000000
190              17th/Guadalupe    126.739316
191                  6th/Lavaca    132.333710
192           East 5th/Shady Ln    197.470588

[193 rows x 2 columns]

In [5]:
%%bigquery --project temporal-nebula-338801
SELECT start_station_name, COUNT( start_station_name) as start_station_count
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name
ORDER BY start_station_count DESC

           start_station_name  start_station_count
0        21st & Speedway @PCL                72799
1        Riverside @ S. Lamar                40635
2    City Hall / Lavaca & 2nd                36520
3              2nd & Congress                35307
4        Rainey St @ Cummings                34758
..                        ...                  ...
188           Marketing Event                    4
189             Eeyore's 2018                    2
190                    Stolen                    1
191             Eeyore's 2017                    1
192     cesar Chavez/Congress                    1

[193 rows x 2 columns]